@import './../../../../styles.scss';



nav {
width: 100%;
padding: 32px;
@include dFlex($jc: space-between);
position: absolute;
top: 0;
left: 0;
    >img{
        width: 64px;
        height: 64px;
    }

    >div{
        width: 350px;
        display: flex;
        align-items: center;
            >a{
                &:hover{
                    color: $dark_red;
                }
            }
    }
    
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway';
}

.phone_btn{
    background-color: $dark_red; 
    @include borderStyling(solid);    
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &:hover{
        background-color: rgb(220,0,0);
        
    }
     >img{
        width: 24px;
        height: 24px;
        margin-right: 8px;
     }
}

.contact_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;

    margin-right: 64px;
}